*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    width: 100%;
}

.top-nav {
    background-color: #C53E94;
    color: #fff;
    text-align: center;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 20px;
}

.top-nav ul li{
    margin: 0 18px;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover{
    color: #FFD700;
}

.bottom-nav{
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.bottom-nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-nav ul li a:hover{
    color: #C53E94;
}

.bottom-nav .logo img{
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border-radius: 50%;
    object-fit: cover;
}

.left-nav-menu{
    margin-right: 30px;
    padding-left: 50px;
}

.right-nav-menu{
    margin-left: 30px;
    padding-right: 50px;
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
}

.mobile-menu{
    display: none;
    width: 100%;
    padding: 12px;
}

.mobile-menu .top ul {
    background-color: #C53E94;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px;
    
}

.mobile-menu .top ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px
    
}

.mobile-menu .bottom ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

/*ADMISSION*/
.admission{
    width: 85%;
    margin: auto;
}
.admission-content{
    padding: 10px 20px;
    margin: 20px 40px;
    text-align: center;
}

.admission-content h1{
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 30px;
}

.admission-content h2{
    text-align: left;
    margin-bottom: 10px;
    color:#252525;
    font-family: "Pirata One", system-ui;
}

.admission-content p{
    text-align: justify;
    color: #333;
    font-size: 16px;
}

/*CAROUSEL*/
.carousel-container{
    overflow: hidden;
    margin: 50px 0;
    background-color: #EDEDED;
    padding:  20px 0;
}

.carousel{
    display: flex;
    gap: 10px;
    animation: scroll 60s linear infinite;
    width: max-content;
    padding: 10px;
}

.carousel div{
    padding: 5px 5px 3px 5px;
    border-radius: 10px;    
    flex-shrink: 0;
    transition: transform 0.3s ease;
}
.carousel img{
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
}

.carousel div:hover {
  transform: scale(1.1);
}

.carousel-background{
    background-color: #C53E94;
}
 @keyframes scroll {
    0% { 
        transform: translateX(0); 
    }
    100% { 
        transform: translateX(-50%); 
    }
}

/*ADMISSION PROCESS*/
.admission-process{
    padding: 40px 40px;
    text-align: center;
    margin-top: 30px;
}

.title{
    color: #252525;
    font-family: "Pirata One", system-ui;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

.steps-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
}

.divider{
    border: none;
    height: 2px;
    background: #252525;
    width: 90%;
    margin: 50px auto;
}
.step-card{
    background-color: #f1eded;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.65);
    border-radius: 8px;
    padding: 30px 20px;
    width: 300px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

.icon{
    font-size: 40px;
    color: #8f0707;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.step-card h3{
    color: #C53E94;
    font-size: 16px;
    margin: 0;
}

.step-card h2{
    font-size: 20px;
    margin: 8px 0px;
    font-weight: 600;
    font-family: "Pirata One", system-ui;
}

.step-card p{
    font-size: 16px;
    line-height: 1.4;
    margin-top: 10px;
    text-align: center;
    
}

/*ADMISSION POSTER*/
.admission-poster{
    padding: 40px 0;
}

.admission-poster-gallery{
    display: flex;   
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin: 0 auto;
}
.admission-poster-gallery .poster{
    padding: 5px;
    border-radius: 10px; 
    background-color: #C53E94;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.65);
}

.admission-poster-gallery img{
    width: 320px; 
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    cursor: pointer;
}

.admission-policy{
    margin-top: 60px;
}

.admission-policy h1{
    text-align: center;
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 30px;
}

.admission-item{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 70%;
}

.admission-question{
    cursor: pointer;
}

.admision-answer{
    display: none;
    color:#333;
}

/*LIGHTBOX*/
.lightbox {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  backdrop-filter: blur(4px);
}

.lightbox-content {
   width: 50%;
   height: 75%;
   border-radius: 8px;
   animation: fadeIn 0.3s ease-in-out;
}

.close-btn {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
    top: 20px;
    right: 18%;
    font-size: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    padding: 5px 14px;
    line-height: 1;    
    z-index: 10;
}

.close-btn:hover {
    background-color: #fff;
    color: #333;
   
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/*ACCORDION*/
.admission-question {
  background-color: #252525;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.admission-question:hover {
  background-color: #C53E94;
}

.admission-answer {
  display: none;
  padding: 10px;
  background: #fff;
  margin-top: 5px;
  border-radius: 5px;
}

.admission-item.active .admission-answer {
  display: block;
}


footer{
    background-color: #1c1d1d;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.footer-section{
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;  
}

.title-footer{
    font-family: "Pirata One", system-ui;
}

.footer-section p{
    margin: 10px;
    line-height: 1.3;
}

.footer-section .social-links a i{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #fff;
    padding: 4px 0;
    line-height: 1;
    width: 36px;
    transition: 0.3s;
}

.footer-section .social-links a i:hover{
    background-color: #C53E94;
    border-radius: 8px;
}


 /* LOGIN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Box */
.login-modal {
    background: #f8f8f8;
    width: 440px;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeIn .2s ease-out;
    box-shadow:  2px 3px 20px rgba(0,0,0,0.25);
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;  
}

.modal-header h2{
    font-weight: bold;
    font-size: 20px;
    color:#252525;
    padding: 12px 16px;
}

.modal-header button{
    background: none;
    border: none;
    font-size: 35px;   
    padding: 0 10px;
    color: #333;      
    cursor: pointer;


}
.modal-header button:hover{
    color: #8f0707; 
}
/* Inputs */
.modal-body {
  padding: 5px 20px;
}

.modal-body label{
    color: #333;   
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Footer Buttons */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 18px;
    gap: 10px;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close { 
    background: #dc3545; 
    color: #fff; 
}

.btn-close:hover{
    background-color: #8f0707;
}
.btn-login { 
    background: #007bff; 
    color: #fff;  
}

.btn-login:hover{
    background-color: #1010e9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

@media (max-width: 1024px){
    .admission-content {
        padding: 10px;
    }
    
    .admission-content p {
        font-size: 16px;
    }
    
    .carousel img {
        width: 270px;
        height: 170px;
    }
    
    .step-card {
        width: 260px;
        padding: 25px 15px;   
    }
 
    .admission-poster-gallery img {
        width: 280px; 
        height: 180px;
        object-fit: cover;
        padding: 8px auto;
    }
    
    .lightbox-content {
        width: 80%;
        height: auto;
    } 

    .close-btn{
        top: 22%;
        right: 20px;
        padding: 8px 15px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 400px;
        padding: 10px 0;
    }
}

@media (max-width: 768px){
    .top-nav ul,
    .bottom-nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .bottom-nav {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .admission-content{
        width: 90%;
        margin: 0 auto;
    }
    
    .steps-container {
        flex-direction: column;
       align-items: center;
    }
    
    .step-card {
        width: 90%;
        min-height: auto;
    }
    
    .carousel img {
        width: 185px;
        height: 140px;
    }
    
    .admission-poster-gallery {
        flex-direction: column;
        align-items: center;
    }
    
    .admission-poster-gallery img {
        width: 100%;
        max-width: 300px;
    }
    
    .admission-item {
        width: 90%;
    }
    
    .lightbox-content {
        width: 80%;
        height: auto;
    }
    
    .close-btn{
        top: 22%;
        right: 20px;
        padding: 8px 15px;
    }

   .admission-item{
        width: 100%;
    }

   .admission-question{
        margin: 0 30px;
    }
    
    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}