*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    max-width: 100vw;
    overflow-x: hidden;
}

header{
    width: 100%;
}

.top-nav{
    background-color: #C53E94;
    color: #fff;
    text-align: center;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 20px;
}

.top-nav ul li{
    margin: 0 18px;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover {
    color: #FFD700;
}

.bottom-nav{
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    overflow-x:hidden;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.bottom-nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-nav ul li a:hover{
    color: #C53E94;
}

.bottom-nav .logo img{
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border-radius: 50%;
    object-fit: cover;
}

.left-nav-menu{
    margin-right: 30px;
    padding-left: 50px;
}

.right-nav-menu{
    margin-left: 30px;
    padding-right: 50px;
}


.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
}

.mobile-menu{
    display: none;
    width: 100%;
    padding: 12px;
    max-width: 100vw;
    overflow-x: hidden;
}

.mobile-menu .top ul {
    background-color: #C53E94;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px;
}

.mobile-menu .top ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px
}

.mobile-menu .bottom ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.jobs-section{
   width: 90%;
    margin: auto;
}
.jobs-content{
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.jobs-content h1{
    color: #252525;
    font-family: "Pirata One", system-ui;
}

.jobs-content p{
    text-align: justify;
    color: #333;
    font-size: 16px;
    padding-top: 20px;
}

.jobs-list {
    padding: 50px 20px;
    text-align: center;
}

.jobs-list-container {
    max-width: 700px;
    margin: 0 auto;
}

.jobs-list h1 {
    color: #aa1373;
    font-family: "Pirata One", system-ui;
    margin-bottom: 30px;
    display: inline-block;
    padding-bottom: 5px;
}

.job-card {
    background: #f1eded;
    border-left: 3px solid #C53E94;
    border-radius: 10px;
    padding: 20px;
    margin: 15px auto;
    text-align: left;
    cursor: pointer;
    transition:transform 0.2s ease;
}

.job-card h3{
    color: #252525;
    font-family: "Pirata One", system-ui;
}
.job-card:hover,
.job-card:focus {
    transform:translateX(-3px);
}

.job-meta{
    font-size:0.9rem;
    color:#333;
    margin:6px 0;
}

.job-preview{
    font-size:16px;
    color: #333;
    margin: 20px 10px;
    overflow:hidden;
}


/* LIGHTBOX STYLES */
.lightbox {
    position: fixed;
    top: 0;
    right: -100%;
    width:600px;
    height:100%;
    background:#fff;
    box-shadow:5px 0 15px rgba(0,0,0,0.2);
    transition:left 0.4s ease;
    overflow-y:auto;
    z-index:100;
    padding:20px 30px;
    max-width: 90vw;
    overflow-x: hidden;
}

.lightbox.active{
    right:0;
}

.lightbox .close-btn{
    position: absolute;
    display: inline-block;
    background-color: #d41414;
    color: #fff;
    border: none;
    top: 15px;
    right: 10px;
    padding: 12px 10px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.lightbox .close-btn:hover{
    background: #8f0707;
    color: #fff;
}
.lightbox h2{
    color: #252525;
    margin-top: 20px;
    font-family: "Pirata One", system-ui;
}

.lightbox p{
    color: #333;
    font-size: 16px;
    margin: 20px 0;
}

.lightbox ul{
    color:#333;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.apply-btn {
    display:inline-block;
    background:#007bff;
    border: none;
    color:#fff;
    font-size: 16px;
    padding:15px 17px;
    border-radius:8px;
    text-decoration:none;
    margin-top:20px;
    transition:background 0.2s;
}

.apply-btn:hover {
    background: #1010e9;
    color: #fff;
}

footer{
    background-color: #1c1d1d;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.footer-section{
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.title-footer{
    font-family: "Pirata One", system-ui;
}

.footer-section p{
    margin: 10px;
    line-height: 1.3;
}

.footer-section .social-links a i{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #fff;
    padding: 4px 0;
    line-height: 1;
    width: 36px;
    transition: 0.3s;
}

.footer-section .social-links a i:hover{
    background-color: #C53E94;
    border-radius: 8px;
}

 /* LOGIN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.login-modal {
    background: #f8f8f8;
    width: 440px;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeIn .2s ease-out;
    box-shadow:  2px 3px 20px rgba(0,0,0,0.25);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;  
}

.modal-header h2{
    font-weight: bold;
    font-size: 20px;
    color:#252525;
    padding: 12px 16px;
}

.modal-header button{
    background: none;
    border: none;
    font-size: 35px;   
    padding: 0 10px;
    color: #333;      
    cursor: pointer;
}
.modal-header button:hover{
    color: #8f0707; 
}

.modal-body {
    padding: 5px 20px;
}

.modal-body label{
    color: #333;   
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 18px;
    gap: 10px;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close { 
    background: #dc3545; 
    color: #fff; 
}

.btn-close:hover{
    background-color: #8f0707;
}
.btn-login { 
    background: #007bff; 
    color: #fff;  
}

.btn-login:hover{
    background-color: #1010e9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

@media(max-width: 1024px){
  .jobs-section {
        width: 95%;
    }

    .job-card {
        padding: 18px;
    }
    
    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 400px;
        padding: 10px 0;
    }
}

@media(max-width: 768px){
    .top-nav ul,
    .bottom-nav ul {
        display: none;
    }

    .hamburger {
        display: block;
        
    }

    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .bottom-nav {
        justify-content: flex-start;
        padding-left: 20px;
    }

     .jobs-section {
        width: 90%;
        margin: 20px auto;
    }

    .job-card {
        padding: 15px;
    }

    .job-card p {
        font-size: 15px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}

@media(max-width: 468px){
    *{
        max-width: 100%;
    }
    .logo img {
        width: 55px;
        height: 55px;
    }

    .jobs-section {
        width: 85%;
    }

    .jobs-content h1 {
    font-size: 1.4rem;
  }

  .jobs-content p {
    font-size: 15px;
    text-align: left;
  }

    .job-card {
        padding: 12px;
        font-size: 14px;
    }

    .job-card h3 {
    font-size: 1rem;
  }
    .job-title {
        font-size: 1rem;
    }

    footer p {
        font-size: 14px;
    }
}