*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    width: 100%;
}

.top-nav {
    background-color: #C53E94;
    color: #fff;
    text-align: center;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 20px;
}

.top-nav ul li{
    margin: 0 18px;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover{
    color: #FFD700;
}

.bottom-nav{
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.bottom-nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.bottom-nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-nav ul li a:hover{
    color: #C53E94;
}

.bottom-nav .logo img{
    width: 70px;
    height: 70px;
    margin: 0 10px;
    border-radius: 50%;
    object-fit: cover;
}

.left-nav-menu{
    margin-right: 30px;
    padding-left: 50px;
}

.right-nav-menu{
    margin-left: 30px;
    padding-right: 50px;
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
}

.mobile-menu{
    display: none;
    width: 100%;
    padding: 12px;
}

.mobile-menu .top ul {
    background-color: #C53E94;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px;
    
}

.mobile-menu .top ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px
    
}

.mobile-menu .bottom ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

main{
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: block;
}

.main-content{  
    padding: 20px;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.sidebar{
    position: absolute;
    top: 20px;
    right: 0;
    width: 20%;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.sidebar h2{
    color:#252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 20px;
}

.label{
    color:#C53E94; 
}

.sidebar p{
    color:#333;
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar-cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.registrar-content{
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.registrar-content h1{
    color:  #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 30px;
}

.registrar-content h2{
    text-align: left;
    margin-bottom: 10px;
    color: #252525;
    font-family: "Pirata One", system-ui;
}

.registrar-content p{
    text-align: justify;
    color: #333;
    font-size: 16px;
}

.announcements{
    margin-top: 50px;
    text-align: center;
}

.announcements h1{
    color:#252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 20px;
}

.announcement-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card{
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 260px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card .card-text{
    font-size: 16px;
    padding: 15px;
    font-weight: 600;
}

.faq{
    margin-top: 60px;
}

.faq h1{
    text-align: center;
    color:#252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 30px;
}

.faq-item{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 70%;
    
}

.faq-question{
    cursor: pointer;
}

.faq-answer{
    display: none;
    color: #333;
}

.org-name{
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.org-name h1{
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 5px;
}

.org-name ul{
    padding-top: 20px;
    position: relative;
}

.org-name li{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

 .org-name .box{
     width: 250px;
    height: 200px;
    padding: 15px;
    border: 2px solid #252525;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
 }

 .org-name .box p {
    line-height: 1.3;
    color: #333;
    margin: 10px 0;
}

 .org-name .box:hover {
    transform: scale(1.05);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px;
}

.lower-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px; 
}

/*LIGHTBOX*/
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-content {
  background: #fff;
  padding: 35px;
  border-radius: 20px;
  max-width: 950px;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s ease;
}

.close {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.ann-close {
  top: 15px;
  right: 25px;
  font-size: 45px;
  color: #333;
}
.ann-close:hover {
  color: #8f0707;
}

#sideLightbox {  
    width: 100%;
    text-align: center;  
    animation: fadeIn 0.3s ease;
}
#sideLightbox .close{
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s ease;
}
.side-close {
    top: 0;
    right: 15%;
    font-size: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    padding: 5px 14px;
    line-height: 1;    
    z-index: 10;
}

.side-close:hover{
    background-color: #fff;
    color: #333;
}
 
.ann-top-img h2{
    font-family: "Pirata One", system-ui;
    color:#C53E94;
}

.ann-top-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.ann-images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.ann-images img{
  width: 40%;
  max-width: 200px;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ann-images img:hover{
    transform: scale(1.05);
}

.lightbox-text {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  text-align: justify;

}

#sideLightbox .sidebox {
  background: transparent;
  box-shadow: none;
  padding: 0;
  max-width: 65%;
  position: relative;
}

#sideLightbox img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
/* FAQ ACCORDION*/
.faq-question{
    background-color: #252525;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.faq-question:hover{
    background-color: #C53E94;
}

.faq-answer {
  display: none;
  padding: 10px;
  background: #fff;
  margin-top: 5px;
  border-radius: 5px;
}

.faq-item.active .faq-answer {
  display: block;
}


footer{
    background-color: #1c1d1d;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.footer-section{
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.title-footer{
    font-family: "Pirata One", system-ui;
}

.footer-section p{
    margin: 10px;
    line-height: 1.3;
}

.footer-section .social-links a i{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #fff;
    padding: 4px 0;
    line-height: 1;
    width: 36px;
    transition: 0.3s;
}

.footer-section .social-links a i:hover{
    background-color: #C53E94;
    border-radius: 8px;
}
 
/* LOGIN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Box */
.login-modal {
    background: #f8f8f8;
    width: 440px;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeIn .2s ease-out;
    box-shadow:  2px 3px 20px rgba(0,0,0,0.25);
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;  
}

.modal-header h2{
    font-weight: bold;
    font-size: 20px;
    color:#252525;
    padding: 12px 16px;
}

.modal-header button{
    background: none;
    border: none;
    font-size: 35px;   
    padding: 0 10px;
    color: #333;      
    cursor: pointer;
}
.modal-header button:hover{
    color: #8f0707; 
}
/* Inputs */
.modal-body {
  padding: 5px 20px;
}

.modal-body label{
    color: #333;   
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Footer Buttons */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 18px;
    gap: 10px;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close { 
    background: #dc3545; 
    color: #fff; 
}

.btn-close:hover{
    background-color: #8f0707;
}
.btn-login { 
    background: #007bff; 
    color: #fff;  
}

.btn-login:hover{
    background-color: #1010e9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

@media(max-width: 1024px){
     .main-content{
        width: 100%;
    }

    .sidebar{
        position: relative;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
    }

    .sidebar img{
        width: 80%;
        height: auto;
    }
     .footer-container{
        flex-direction: column;
        text-align: center;
        width: 400px;
        padding: 10px 0;
    }
}

@media(max-width: 768px){
    .top-nav ul,
    .bottom-nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .bottom-nav {
        justify-content: flex-start;
        padding-left: 20px;
    }

     main{
        padding: 10px;
    }

    .sidebar-card img{
        width: 80%;
    }

    .announcement-card{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 80%;
    }

    .ann-images img{
        width: 80%;
        max-width: none;
    }

    .faq-item{
        width: 100%;
    }

   .faq-question{
        margin: 0 20px;
    }
    .org-name ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lower-box-container{
        flex-direction: column;
        gap: 15px;
    }

    .lightbox-content{
        max-width: 90%;
        padding: 20px;
    }

    .side-close{
        top: 0;
        right: 10px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}


@media(max-width: 480px){
    .logo img {
        width: 55px;
        height: 55px;
    }

     .card-text .text{
        font-size: 15px;
    }

    .ann-top-img p{
        font-size: 16px;
    }

    .lightbox-content{
        padding: 15px;
    }

    .ann-close,
    .side-close{
        font-size: 30px;
    }

    footer p{
        font-size: 14px;
    }
}