*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    width: 100%;
}

.top-nav {
    background-color: #C53E94;
    color: #fff;
    text-align: center;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 12px 20px;
}

.top-nav ul li{
    margin: 0 18px ;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover{
    color: #FFD700;
}
.bottom-nav{
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding:  20px 0 0;    
    
}

.bottom-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-nav ul li a:hover {
    color: #C53E94;
}

.bottom-nav .logo {
    margin: 0 40px;
}

.bottom-nav .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.left-nav-menu {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.right-nav-menu {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
}

.mobile-menu{
    display: none;
    width: 100%;
    padding: 12px;
}

.mobile-menu .top ul {
    background-color: #C53E94;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px;
    
}

.mobile-menu .top ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px
}

.mobile-menu .bottom ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

/*CAROUSEL*/
.carousel-container{
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

.carousel-slides{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide{
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.carousel-slide img{
    width: 100%;
    height: 550px;
}

.carousel-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color:rgb(255, 255, 255, 0.8);
    padding: 60px;
    width: 80%;

}

.carousel-text h1{
    color: #C53E94;
    font-family: "Pirata One", system-ui;
    margin-bottom: 12px;
}

.carousel-text p{
    font-size: 16px;
    color: #333;
    margin-bottom: 45px;
}

.get-started-button{
    padding: 10px 25px;
    text-decoration: none;
    background: none;
    border: 3px solid #C53E94;
    border-radius: 20px;    
    color:#333;
    font-size: 16px;
    width: 20%;
    cursor: pointer;
    align-self: center;
    transition: color 0.3s;
}

.get-started-button:hover{
    background-color: #C53E94;
    color: white;
}

.carousel-nav-left, .carousel-nav-right{
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 24px;
    transform: translateY(-50%);
}

.carousel-nav-left{
    left: 10px;
}

.carousel-nav-right{
    right: 10px;
}

.carousel-indicators{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}

.indicator{
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

/*OBJECTIVE-CONTAINER*/
.objectives-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.objectives-content{
    margin-top:40px;
    text-align: center;
}

.objectives-content h1{
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 10px;
}

.image-container{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.image-container img{
    width: 40%;
    height: 40%;
    margin-right: 20px;
}

.image-description{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image-description h2{
    margin-top: 5px;
    color: #252525;
    font-family: "Pirata One", system-ui;
}

ol{
    margin: 10px 0;
    padding-left: 20px;
}

li{
    margin-bottom: 20px;
    color:#333;
    text-align: justify;
    font-size: 16px;
}

.read-more-btn{
    text-decoration: none;
    border: 3px solid #C53E94;
    background: none;
    width: 20%;
    color: #333;
    padding: 9px 0;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.read-more-btn:hover{
    background-color: #C53E94;
    color: white;
}

/*PHILOSOPHY-VISION-MISSION*/
.philosophy-vision-mission-section{
    padding: 60px 20px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.container-card{
    background-color: #fff;
    width: 300px;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.icon{
    font-size: 45px;
    color:#C53E94;
    margin-bottom: 20px;
}

.container-card h3{
    font-size: 20px;
    color:#252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 15px;
}

.container-card p{
    font-size: 16px;
    color: #333;
    margin-bottom: 25px;
}

.read-more {
    text-decoration: none;
    border: 3px solid #C53E94;
    background: none;
    color: #333;
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.read-more:hover {
    background: #C53E94;
    color: #fff;
}

/*COURSES*/
.courses-section{
    text-align: center;
    padding: 70px 20px;
    background-color: #fff;
   
}

.section-title{
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 40px;
}

.institute {
  margin-bottom: 50px;
}

.institute h2{
    color: #333;
    font-family: "Pirata One", system-ui;
    margin-bottom: 25px;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.course-card {
    width: 200px;
    text-align: center;
}

.course-icon{
    color: #C53E94;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin: 0 auto 15px;
}

.course-card h4{
    font-size: 17px;
    color: #252525;
    margin-bottom: 8px;
}

.course-card p {
  font-size: 16px;
  color: #333;
}

/*CLUBS*/
.club-section{
    margin-top: 50px;
    align-items: center;
    
}
h1{
    text-align: center;
    color:#252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 15px;
}

.club-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
}

.club-card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.club-icon{
    text-align: center;
    margin: 25px 0 12px 0;
    font-size: 50px;
    color:#C53E94;
}

.club-card h3{
    text-align: center;
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 12px;
}

ul {
    padding-left: 50px;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

footer{
    background-color: #1c1d1d;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.footer-section{
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.title-footer{
    font-family: "Pirata One", system-ui;
}

.footer-section p{
    margin: 10px;
    line-height: 1.3;
}

.footer-section .social-links a i{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #fff;
    padding: 4px 0;
    line-height: 1;
    width: 36px;
    transition: 0.3s;
}

.footer-section .social-links a i:hover{
    background-color: #C53E94;
    border-radius: 8px;
}

 /* LOGIN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Box */
.login-modal {
    background: #f8f8f8;
    width: 440px;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeIn .2s ease-out;
    box-shadow:  2px 3px 20px rgba(0,0,0,0.25);
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;  
}

.modal-header h2{
    font-weight: bold;
    font-size: 20px;
    color:#252525;
    padding: 12px 16px;
}

.modal-header button{
    background: none;
    border: none;
    font-size: 35px;   
    padding: 0 10px;
    color: #333;      
    cursor: pointer;
}
.modal-header button:hover{
    color: #8f0707; 
}
/* Inputs */
.modal-body {
  padding: 5px 20px;
}

.modal-body label{
    color: #333;   
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Footer Buttons */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 18px;
    gap: 10px;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close { 
    background: #dc3545; 
    color: #fff; 
}

.btn-close:hover{
    background-color: #8f0707;
}
.btn-login { 
    background: #007bff; 
    color: #fff;  
}

.btn-login:hover{
    background-color: #1010e9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

@media(max-width: 1024px){
    .carousel-text{
        width: 80%;
        padding: 40px;
    }

     .carousel-text h1 {
        font-size: 28px;
    }

    .carousel-text p {
        font-size: 15px;
    }

    .course-container {
        gap: 30px;
    }
}

@media(max-width: 768px){
    .top-nav ul,
    .bottom-nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .bottom-nav {
        justify-content: flex-start;
        padding-left: 20px;
    }

    .carousel-slide img{
        height: 420px;
    }

    .carousel-text{
        width: 70%;
        padding: 30px;
    }

    .image-container{ /*OBJECTIVE*/
        flex-direction: column;
        text-align: center;
    }

    .image-container img{
        width: 60%;
        margin: 0 auto;
    }

    .image-description {
        margin-top: 20px;
    }

    .read-more-btn{
        width: 16%;
        padding: 7px 0;
        font-size: 15px;
    }

    .read-more{
        width: 15px;
        font-size: 15px;
    }

    .container{ /* PHILOSOPHY CARDS */
        flex-direction: column;
        align-items: center;
    }

    .club-container {
        grid-template-columns: 1fr;
        margin: 0 60px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}

@media(max-width: 480px){
    .logo img {
        width: 55px;
        height: 55px;
    }

    .carousel-slide img {
        height: 320px;
    }

    .carousel-text {
        padding: 20px;
    }

    .carousel-text h1 {
        font-size: 22px;
    }

    .carousel-text p {
        font-size: 14px;
    }

    .get-started-button {
        width: auto;
        padding: 10px 15px;
        font-size: 14px;
    }

    .read-more-btn{
        width: 100%;
        max-width: 115px;
        padding: 10px 15px;
    }

    .course-container {
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;  
    }

    footer p{
        font-size: 14px;
    }
}