*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}


header{
    width: 100%;
}

.top-nav {
    background-color: #C53E94;
    color: #fff;
    text-align: center;
}

.top-nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 20px;
}

.top-nav ul li{
    margin: 0 18px ;
}

.top-nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover{
    color: #FFD700;
}

.bottom-nav {
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 13px 0 0; 
}

.bottom-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.bottom-nav ul li a:hover {
    color: #C53E94;
}

.bottom-nav .logo {
    margin: 0 40px;
}

.bottom-nav .logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.left-nav-menu {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.right-nav-menu {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1000;
}

.mobile-menu{
    display: none;
    width: 100%;
    padding: 12px;
}

.mobile-menu .top ul {
    background-color: #C53E94;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px;
    
}

.mobile-menu .top ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.mobile-menu .bottom ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    gap: 20px
}

.mobile-menu .bottom ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.container{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.img-container{
    position: relative;
    width: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.image-description{
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(197, 62, 148, 0.7);
    padding: 50px;
    width: 100%;
    height: 99.1%; 
}

.image-description h2{
    color: #fff;
    font-size: 30px;
    margin-top: 25px;
}

.image-description h1{
    color: #fff;
    font-size: 40px;
    margin-top: 10px;
    
}

.content{
    padding: 10px 20px;
    margin-top: 20px;
}

.content h1{
    color: #252525;
    text-align: center;
    font-family: "Pirata One", system-ui;
}

.content p{
    color: #333;
    text-align: justify;
    font-size: 16px;
    margin: 15px 45px;
}

ol{
    padding-left: 65px;
}

li {
    margin-bottom: 14px;
    color: #333;
    font-size: 16px;
}

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.container-info {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 20px;
    margin-top: 50px;
    
}

.container-info h3 {
    color: #252525;
    font-family: "Pirata One", system-ui;
    text-align: center;
    margin-bottom: 20px;
}

.container-info p {
    text-align: justify;
    color: #333;
    font-size: 16px;
    padding: 10px;
    line-height: 1.4;
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.image-wrapper{
    display: flex;
    align-items: flex-start;
}

.image-wrapper img{
    width: 100%;
    height: 41vh;
    margin: 30px 0 0 20px;
}

.info{
   padding-left: 30px;
}

.info h3{
    color:#252525;
    font-family: "Pirata One", system-ui;
}

.info p{
    color: #333;
    font-size: 16px;
    margin: 20px 0;
}

.info ul{
    margin-bottom: 25px;
}

.info li{
    list-style: none;
    color:#333;
    font-size: 16px;
}

.wrap{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

.wrap-content{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 20px;
    margin-top: 50px;
    margin: 20px;
}

.wrap-content h3{
    color: #252525;
    font-family: "Pirata One", system-ui;
    margin-bottom: 20px;
}

.wrap-content p{
    color: #333;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
    line-height: 1.4;
}

footer{
    background-color: #1c1d1d;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.footer-section{
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h3{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
}

.title-footer{
    font-family: "Pirata One", system-ui;
}

.footer-section p{
    margin: 10px;
    line-height: 1.3;
}

.footer-section .social-links a i{
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #fff;
    padding: 4px 0;
    line-height: 1;
    width: 36px;
    transition: 0.3s;
}

.footer-section .social-links a i:hover{
    background-color: #C53E94;
    border-radius: 8px;
}

 /* LOGIN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Box */
.login-modal {
    background: #f8f8f8;
    width: 440px;
    border-radius: 6px;
    overflow: hidden;
    animation: fadeIn .2s ease-out;
    box-shadow:  2px 3px 20px rgba(0,0,0,0.25);
}

/* Header */
.modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;  
}

.modal-header h2{
    font-weight: bold;
    font-size: 20px;
    color:#252525;
    padding: 12px 16px;
}

.modal-header button{
    background: none;
    border: none;
    font-size: 35px;   
    padding: 0 10px;
    color: #333;      
    cursor: pointer;
}
.modal-header button:hover{
    color: #8f0707; 
}
/* Inputs */
.modal-body {
  padding: 5px 20px;
}

.modal-body label{
    color: #333;   
}

.modal-body input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Footer Buttons */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 18px;
    gap: 10px;
    border-top: 1px solid #ddd;
}

.btn {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close { 
    background: #dc3545; 
    color: #fff; 
}

.btn-close:hover{
    background-color: #8f0707;
}
.btn-login { 
    background: #007bff; 
    color: #fff;  
}

.btn-login:hover{
    background-color: #1010e9;
}

@media(max-width:1024px){
     .image-description{
        padding: 20px;
     }

     .content p,
    .container-info p,
    .wrap-content p {
        margin: 15px 25px;
    }

     .container, .wrap {
        max-width: 90%;
    }

    .image-wrapper img {
        height: auto;
        width: 100%;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}

@media(max-width: 768px){
    .top-nav ul,
    .bottom-nav ul {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .logo img {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .bottom-nav {
        justify-content: flex-start;
        padding-left: 20px;
    }

       .image-description {
        padding: 15px;
    }

    .image-description h2 {
        font-size: 20px;
    }

    .image-description h1 {
        font-size: 26px;
    }

    .image-wrapper {
        flex-direction: column;
        text-align: justify;
    }

    .image-wrapper img {
        width: 80%;
        height: auto;
        margin: 20px 0 0 70px;
    }

     .info {
        padding: 30px;
        margin-top: 10px;
    }

    .footer-container{
        flex-direction: column;
        text-align: center;
        width: 300px;
        padding: 10px 0;
    }
}

@media(max-width: 480px){
     .logo img {
        width: 55px;
        height: 55px;
    }

    .image-description {
        padding: 0;
    }
    
    .image-description h2 {
        font-size: 10px;
    }
    
    .image-description h1 {
        font-size: 10px;
    }

     p, li {
        font-size: 14px;
    }

    .container-info,
    .wrap-content {
        padding: 12px;
        margin: 10px;
    }

    .image-wrapper img {
        width: 80%;
        height: auto;
        margin:  20px 0 0 40px;
    }

     footer p {
        font-size: 14px;
    }
}